<link rel="stylesheet" href ="/content/aboutStyle.css">
</head>
<div class="container">
   
          <br><br>
    <article>
        <h1><center><u>Know Me Well ! </u></center></h1>
        <h2><i>
        Welcome everyone!
        I am Manya from India. I am 19 years old and currently enrolled in Software Engineering Technician 
        Program at Centennial College. <br><br>
        Skills - C#, HTML, CSS, SQL, JAVA, JS , MS Office<br><br>
        Management and technology are two abilities I've been honing over the years and hope to combine in the future.
        </i>
        <center>
          <div class="resume">
          Here is my Resume. Have a look into it !        
          <table>
              <tr>
                  <td> <ion-icon name="cloud-download"></ion-icon></td>
                  <td class="btnDownload" >  
                    <a href="/static/resume.pdf" download="resume" >Download Pdf</a>
                 </td>
               </tr>
          </table>
          
         </div>
        </center>
        </h2>
        
    </article>
</div>