<link rel="stylesheet" href ="homeStyle.css">
</head>
<body>
<div class="container">
    <nav>
        <img class="userPic" src="customLogo.jpg" alt="profile picture">
        <div class="userDetails">
            <h1>Manya's Portfolio</h1>          
            <span>Software Engineering Student</span>
        </div>
        <a href=""><div class="home"><ion-icon name="home"></ion-icon>Home</div></a>
        <a href="about"><div class="about"><ion-icon name="information-circle"></ion-icon>About</div></a>
        <a href="project"><div class="project"><ion-icon name="folder-open"></ion-icon>Projects</div></a>
        <a href="services"><div class="services"><ion-icon name="laptop"></ion-icon>Services</div></a>
        <a href="contact"><div class="contact"><ion-icon name="call"></ion-icon>Contact</div></a>
        <a href="/auth/login"><div class="login"><ion-icon name="information-circle"></ion-icon>Login</div></a>
    </nav><br><br>
    <article>
        <h1><center><u>Welcome to my website! </u></center></h1>
        <h2><i>
        "My goal is to combine my technical and managerial abilities to become 
        an expert in project management and software development. To lead by promoting 
        innovative thinking and foresight so that my team may develop technology solutions
        that will improve the lives of people. "<br><br>
        <blockquote>~ Manya</blockquote>
        </i></h2>
        
    </article>
</div>